In [7]:
import pandas as pd
import json
pd.set_option('display.max_columns', None)

In [8]:
f_in = open(r"D:\GitHub\ironpythontest\Rhinoscript\objsDict.json", 'r')

In [9]:
objsdict = json.load(f_in)

In [11]:
print(type(objsdict))

<class 'dict'>

In [12]:
print(objsdict.keys())

dict_keys(['objs'])

In [13]:
print(objsdict['objs'][0])

{'level': '12', 'height': '2.9', 'function': 'shaft', 'grade': 'ag', 'class': 'na', 'areapy': '1.6', 'area': '5.28', 'usage': 'core'}

In [14]:
df = pd.DataFrame.from_records(objsdict['objs'])

In [15]:
df.head()

  level height function grade class areapy  area usage
0    12    2.9    shaft    ag    na    1.6  5.28  core
1    18    3.0    shaft    ag    na   0.19  0.63  core
2     6    4.0    shaft    ag    na   1.33  4.41  core
3    17    3.4    shaft    ag    na   0.19  0.63  core
4     8    4.0   public    ag  rent   2.23  7.38  core

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 8 columns):
level       422 non-null object
height      422 non-null object
function    422 non-null object
grade       422 non-null object
class       422 non-null object
areapy      422 non-null object
area        422 non-null object
usage       422 non-null object
dtypes: object(8)
memory usage: 26.5+ KB

In [17]:
df[['height', 'areapy', 'area']] = df[['height', 'areapy', 'area']].apply(pd.to_numeric)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 8 columns):
level       422 non-null object
height      422 non-null float64
function    422 non-null object
grade       422 non-null object
class       422 non-null object
areapy      422 non-null float64
area        422 non-null float64
usage       422 non-null object
dtypes: float64(3), object(5)
memory usage: 26.5+ KB

In [19]:
df.head()

  level  height function grade class  areapy  area usage
0    12     2.9    shaft    ag    na    1.60  5.28  core
1    18     3.0    shaft    ag    na    0.19  0.63  core
2     6     4.0    shaft    ag    na    1.33  4.41  core
3    17     3.4    shaft    ag    na    0.19  0.63  core
4     8     4.0   public    ag  rent    2.23  7.38  core